<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>This is a secured page!</h1>
    <p><a href="/" th:href="@{/lowRisk}">To the low risk page</a></p>
    <p><a href="/" th:href="@{/highRisk}">To the high risk page</a></p>
    <p><a href="/" th:href="@{/histroy}">History</a></p>
</div>
</body>
</html>